/*------Decompte------*/

.decompte {
  margin: 50px 0;
}

.decompte h2 {
  text-align: center;
  font-weight: 300 ;
  color: $color-text-normal;
  text-transform: uppercase;
  margin: 0 0 18px;
}

.decompte .minuterie{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.decompte .minuterie div{
  background: $color-bg-gradiant;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90px;
  padding: 14px;
}

.decompte .minuterie div p {
  margin: 0;
  color: $color-text-light;
  line-height: $lh-thin;
}
.decompte .minuterie div .chiffre{
  font-size: $fz-h4;
  font-weight: bold;
}

.decompte .minuterie div .temps {
  font-size: $fz-h6;
}

@media (min-width: $vw-small) {
  .decompte {
    width: 550px;
    margin: 50px auto;
  }
  .decompte h2 {
    font-size: $fz-h2;
  }
  .decompte .minuterie div .chiffre{
    font-size: $fx-chiffre;
    font-weight: bold;
  }

  .decompte .minuterie div{
    width: 118px;
  }
}
/*-------Article-------*/
.item{
  position: relative;
  height: 100vw;
}
.produits .survol{
  display: none ;
}

.produits .rabais {
  position: absolute;
  display: block;
  background-color: $color-bg-rabais;
  color: $color-text-light;
  margin: 0;
  padding: 15px 13px;
}

@media (min-width: $vw-small) {
.produits{
  display: flex;
  flex-wrap: wrap;
}

  .item{
    position: relative;
    height: 33.333%;
    width: 33.333%;
  }
}

@media (min-width: $vw-medium) {

  .item{
    position: relative;
    height: 25%;
    width: 25%;
  }
}

/*--------Footer--------*/

.info-achat {
  background: $color-bg-gradiant;
  color: $color-text-light;
  padding: 50px 20px;
  margin: 50px 0 0;
}

.info-achat p {
  font-size: $fz-h4;
  text-align: center;
}

.info-achat a{
  align-self: center;
  font-size: $fz-16;
  margin: 10px;
  padding: 18px 34px;
  border: 2px solid #FFFFFF;
  border-radius: 100px;

  &:link{
    color: $color-text-light;
    text-decoration: none;
  }

  &:visited{
    color: $color-text-light;
  }

  &:hover{
    color: $color-text-normal;
    background-color: #fff;
  }

  &:active{
    color: $color-text-normal;
    background-color: #fff;
  }

  &:focus{
    color: $color-text-normal;
    background-color: #fff;
  }
}

