.header-page {
  background-color: $color-bg-nav;

  position: fixed;
  width: 100%;

}

.nav-principale ul {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: auto;
  padding: 16px 0;
  margin: 0;
  font-size: $fz-16;
}

.nav-principale li {
  list-style: none;
}
.nav-principale .compagnie {
  order: -1;
}
.nav-principale .compagnie h1 {
  margin: 16px;
}

@media (min-width: $vw-small) {
  .nav-principale ul {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5,auto);
    padding:  0;
    margin: 0;
    font-size: $fz-16;
  }

  .nav-principale .compagnie {
    order: 0;
  }
}






/*------HER0-----*/

.hero {
  background:  url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 570px;

  display: grid;
  justify-items: center;
  align-items: center;
}

.hero h2 {
  margin: 0;
  font-size: $fz-h2-mobile;
}

@media (min-width: $vw-small) {

  .hero h2 {
    margin: 0;
    font-size: $fz-h2;
  }
}
