//FICHIER DE CONFIGURATION POUR LES ÉLÉMENTS TITRE DE LA PAGE


h1, h2, h3, h4, h5, h6{
  font-family: $ff-title;
  line-height: $lh-thin;
  font-weight: $fw-bold;
  color: $color-text-normal;
}

h1{
  font-size: $fz-h1;
  font-family: $ff-text-article-hover;

}

h2{
  font-size: $fz-h2-mobile;
  color: $color-text-light;
}

h3{
  font-size: $fz-h3;
}

h4{
  font-size: $fz-h4;
}

h5{
  font-size: $fz-h5;
}

h6{
  font-size: $fz-h6;
}
